<p>trial works!</p>
<h2>Sadie</h2>
		<div class="grid">
			<figure class="effect-sadie">
				<img src="https://static.pexels.com/photos/15765/pexels-photo-large.jpg" alt="img02"/>
				<figcaption>
					<h2>Holy <span>Sadie</span></h2>
					<p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
					<a href="#">View more</a>
				</figcaption>			
			</figure>
			<figure class="effect-sadie">
				<img src="http://p1.pichost.me/i/45/1685114.jpg" alt="img14"/>
				<figcaption>
					<h2>Holy <span>Sadie</span></h2>
					<p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
					<a href="#">View more</a>
				</figcaption>			
			</figure>