<table border="1" id="Educational">
    <Caption><strong>Educational details</strong> </Caption>
    <tr>
        <th>Class</th>
        <th> Makrs</th>
        <th> Institute</th>
    </tr>
    <tr>
        <td>
            10th
        </td>
        <td>
            89%
        </td>
        <td>
            Seventh Day Adventist Higher Secondary School
        </td>
    </tr>
    <tr>
        <td>
            12th
        </td>
        <td>
            75%
        </td>
        <td>
            Seventh Day Adventist Higher Secondary School
        </td>
    </tr>
    <tr>
       <td>
           Graduation-6th Sem
       </td>
       <td>
        7.81
    </td>
    <td>
        Gandhinagar Institute of Technology
    </td>
    </tr>
</table>