<div id="content">
<div id="about">
<p> Name: Stuti Shahu</p>
 <p>I love to design web pages.</p>
 <p>I design web pages which are simple and attractive</p>
</div>
<div id="contact" class="">
    <p>Address: 6, matru chaya, bara sancha ni chali, gomtipur, ahmedabad-380021</p>
    <p>Email: stutishahu19@gmail.com</p>
    <p>Phone number: 9106754761</p>
</div>
<div id="socials">
    <a href="https://www.instagram.com/stuti_shahu_/">Instagram</a>
    <a href="https://twitter.com/shahu_stuti">Twitter</a>
    <a href="https://github.com/Stuti1904">GitHub</a>
</div>
</div>