nav{
    background-color: black;
    color:white;
    position: sticky;
    margin-top:0px;
    width: 100%;
}
a{
    text-decoration: none;
    color:white;
    margin:5px;
}
ul{
    display: flex;
    padding: 10px;
    list-style: none;
}