<footer id="main_footer" class="darkblue text-white">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mt-1">
           <div id="links"> <a href="" class="text-white">About Disney+Hotstar</a>
            <a href="" class="text-white">Terms of Use</a>
            <a href="" class="text-white">Privacy Policy</a>
            <a href="" class="text-white">FAQ</a>
            <a href="" class="text-white">Feedback</a>
            <a href="" class="text-white">Careers</a>
        </div>
        <div id="info" class="mt-2">
           <p> In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before the final copy is available.</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mt-1">
        <p class="lead">
            Connect with us
        </p>
        <span class="fa-brands fa-facebook-square" id="social"></span>
        <span class="fa-brands fa-twitter-square" id="social"></span>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <p>Download our app on:</p>
        <p><a href="" class="btn btn-dark text-light"><span class="fa-brands fa-google-play"></span>Google Play</a></p>
        <p><a href="" class="btn btn-dark text-light"><span class="fa-brands fa-apple"></span>App store</a></p>
    </div>
    </div>
   </footer>
