<section id="card1" height="900px" class="darkblue text-white">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fluid headerDiv">
          <div class="row">
              <div class="card border-0" style="width: 35rem;">
                  <div class="card-body darkblue text-light d-flex flex-row">
                      <div class="des ">
                      <h1 class="fw-bold">Mission Mangal</h1>
                      <p>He is the supreme being and the destroyer of evil. Witness lord Shiva`s story..</p>
                      <p></p>
                      </div>
                  </div>
                </div>
            <img src="../../assets/Images/571527-h.png" class="img-fluid" alt="image"style="width: 50%; height: 50vh">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container-fluid headerDiv2">
          <div class="row">
              <div class="card border-0" style="width: 35rem;">
                  <div class="card-body darkblue text-light d-flex flex-row">
                      <div class="des">
                      <h1 class="fw-bold">Creature 3d</h1>
                      <p>Ahana is the owner of a new hotel in the hills. She meets Kunal at...</p>
                      <p></p>
                      </div>
                  </div>
              </div>
            <img src="../../assets/Images/1000101223-h.png" class="img-fluid" alt="image" style="width: 50%; height: 50vh">
          </div>
        </div>
      </div>
    </div>
    <button class=" btn carousel-control-prev" type="button" data-target="#carouselExampleControls"
      data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="btn carousel-control-next" type="button" data-target="#carouselExampleControls"
      data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
   </section>