<label> First number</label>
<input type="number" [(ngModel)]="first">
<label> Second Number</label>
<input type="number"  [(ngModel)]="second">
<button type="button"(click)="addnumber()">ADD</button>
<button type="button"(click)="subtractnumber()">SUBTRACT</button>
<button type="button"(click)="multiplynumber()">MULTIPLY</button>
<button type="button"(click)="dividenumber()">DIVIDE</button>
<h3>The value of sum is{{sum}}</h3>
<h3>The value of difference is{{difference}}</h3>
<h3>The value of product is{{product}}</h3>
<h3>The quotient is{{quotient}}</h3>

