h1{
    font-size: 70px;
    padding: 5px;
    margin-top:0px;
    margin-bottom: 0px;
}
p{
    margin-top:0px;
    font-size: large;
}
#owners{
    margin-bottom:5px;
}
a{
    margin:10px;
    text-decoration: none;
    color: blue;
}
img{
    height: 400px;
    width: 300px;
}
#about-head{
    background-color: darkgray;
    width:100%
}
h2{
    font-size: 60 px;
    }